@page "/products"
@using FoodShop.Admin.WebApp.Client.Pages.Products;
@using FoodShop.Admin.WebApp.Client.Pages.Products.ViewModels
@using FoodShop.Application.Categories
@using FoodShop.Application.Products
@using FoodShop.Domain.Entities
@using MudBlazor
@inherits ProductsBase
@rendermode InteractiveWebAssembly

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<h3>Products</h3>

<MudButton Color="Color.Success" @onclick="DisplayCreateDialog">Create</MudButton>

@if (SelectedItems.Count() > 0)
{
    <MudButton @onclick="DeleteSelectedProducts" Color="Color.Error">Delete @SelectedItems.Count()</MudButton>
}



<MudDataGrid @ref="_dataGrid" MultiSelection="true" ServerData="LoadGridData" T="VM_Product" SelectedItemsChanged="@SelectedItemsChanged">
    <Columns>
        <SelectColumn T="VM_Product" />
        <PropertyColumn Property="x=>x.Id"></PropertyColumn>
        <PropertyColumn Property="x=>x.Name"></PropertyColumn>
        <PropertyColumn Property="x=>x.Description"></PropertyColumn>
        <PropertyColumn Property="x=>x.CategoryId"></PropertyColumn>
        <PropertyColumn Property="x=>x.CategoryName"></PropertyColumn>
        <TemplateColumn Title="Action">
            <CellTemplate>
                <MudButton @onclick="@(()=>DisplayEditDialog(context.Item.Id))" Color="Color.Warning">Edit</MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>

        <MudDataGridPager T="VM_Product" PageSizeOptions="[3,6,12]" />

    </PagerContent>
</MudDataGrid>

