@using FoodShop.Web.Abstractions.Services
@using FoodShop.Web.ViewModels.Products


    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Latest Arrivals</h1>
            </div>

            <div class="col-12">
                <div class="lastest_featured_products owl-carousel owl-theme">
                    @foreach(var item in LatestArrivalsList)
                    {   
                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l1.jpg" data-fancybox="lastest_product" data-title="Shirt Name">
                                        <img src="@item.Image" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">@item.ProductName</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text"> $@item.Price</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

@code {

    [Inject]
    ILatesArrivalsProductServices latesArrivalsProductServices { get; set; }

    public IEnumerable<ProductItemViewModel> LatestArrivalsList { get; set; } = new List<ProductItemViewModel>();

    protected override async Task OnInitializedAsync()
    {
        LatestArrivalsList = await latesArrivalsProductServices.GetLatestArrivals();
    }
}
