@page "/"

<!--Home Start-->
<section class="slider-sec" id="slider-sec">
    <div id="rev-slider" class="rev-slider">
    <div id="rev_slider_18_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="megaone-restaurant-1" data-source="gallery" style="background:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
        <div id="rev_slider_18_1" class="rev_slider fullscreenbanner" style="" data-version="5.4.8.1">

            <ul>	<!-- SLIDE  -->
                <li data-index="rs-44" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/100x50_3d469-bg-light-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/img/slider-img5.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div class="slider-overlay"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-44-layer-2"
                         data-x="['left','left','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']"
                         data-fontsize="['20','22','22','20']"
                         data-lineheight="['30','30','25','25']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":270,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 300; color: #000; letter-spacing:0;font-family:'Poppins', sans-serif;">Stay Healthy With</div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-44-layer-1"
                         data-x="['left','left','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['52','40','42','35']"
                         data-lineheight="['82','82','72','55']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":1080,"split":"chars","splitdelay":0.1,"speed":1500,"split_direction":"forward","frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 6; white-space: nowrap; font-size: 52px; line-height: 82px; font-weight: 500; color: #79a207 ; letter-spacing: 0;font-family:'Poppins', sans-serif;">Natural Fruits</div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-44-layer-3"
                         data-x="['left','left','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['70','60','70','70']"
                         data-fontsize="['16','14','14','14']"
                         data-width="['490','490','600','450']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; font-size: 16px; line-height: 26px; font-weight: 400; color: #000; letter-spacing:0;font-family:Poppins;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. tellus lacus faucibus lectus, sed cursused eros ligula non odio. </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption  tp-resizeme"
                         id="slide-44-layer-4"
                         data-x="['left','left','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['138','134','138','150']"
                         data-width="['600','600','600','450']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="button"
                         data-responsive_offset="on"
                         data-frames='[{"delay":3350,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 8; font-family:Poppins;"><a class="btn web-btn rounded-pill" href="#featured-items">Shop Now</a></div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-45" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/100x50_3d469-bg-light-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/img/slider-img3.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <div class="slider-overlay"></div>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-45-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']"
                         data-fontsize="['20','20','20','20']"
                         data-lineheight="['30','30','30','25']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":270,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 46px; font-weight: 300; color: #000; letter-spacing:0;font-family:'Poppins', sans-serif;">We Deliver Organic Fruits. </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-45-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['52','50','42','35']"
                         data-lineheight="['82','82','72','55']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":1080,"split":"chars","splitdelay":0.1,"speed":1500,"split_direction":"forward","frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 6; white-space: nowrap; font-size: 52px; line-height: 82px; font-weight: 500; color: #84b813; letter-spacing: 0;font-family: 'Poppins', sans-serif;">Fresh Organic Food</div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-45-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['70','60','70','70']"
                         data-fontsize="['16','14','14','14']"
                         data-width="['490','490','600','450']"
                         data-height="none"
                         data-whitespace="normal"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; font-size: 16px; line-height: 26px; font-weight: 400; color: #000; letter-spacing:0;font-family:Poppins;">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-45-layer-4"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','150']"
                         data-width="['600','600','600','450']"
                         data-height="none"
                         data-whitespace="normal"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":3350,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 8; font-family:Poppins,sans-serif;"><a class="btn web-btn scroll rounded-pill" href="#featured-items">Shop Now</a></div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-46" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/100x50_3d469-bg-light-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/img/slider-img4.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div class="slider-overlay"></div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-46-layer-2"
                         data-x="['right','right','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']"
                         data-fontsize="['20','20','20','20']"
                         data-lineheight="['30','30','35','35']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":270,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['right','right','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 5; white-space: nowrap; font-size: 28px; line-height: 46px; font-weight: 400; color: #000; letter-spacing:0;font-family:'Poppins', sans-serif;">We care for your </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-46-layer-1"
                         data-x="['right','right','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['52','50','42','35']"
                         data-lineheight="['82','82','72','55']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":1080,"split":"chars","splitdelay":0.1,"speed":1500,"split_direction":"forward","frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['right','right','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 6; white-space: nowrap; font-size: 52px; line-height: 82px; font-weight: 500; color: #84b813; letter-spacing:0;font-family: 'Poppins', sans-serif;">Natural Fresh Goods</div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-46-layer-3"
                         data-x="['right','right','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['70','60','70','70']"
                         data-fontsize="['16','14','14','14']"
                         data-width="['490','490','600','450']"
                         data-height="none"
                         data-whitespace="normal"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['right','right','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; font-size: 16px; line-height: 26px; font-weight: 400; color: #000; letter-spacing:0;font-family:Poppins;">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.  </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-46-layer-4"
                         data-x="['right','right','center','center']" data-hoffset="['0','150','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','150']"
                         data-width="['600','600','600','450']"
                         data-height="none"
                         data-whitespace="normal"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":3350,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['right','right','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 8; font-family:Poppins;"><a class="btn rounded-pill web-btn scroll" href="#about">Order Now</a></div>
                </li>

            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
    </div>
    <!-- END REVOLUTION SLIDER -->
    <!--SLIDER DOWN ARROW-->
<!--    <svg class="separator__svg" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#44A36F" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="M 100 100 V 10 L 0 100"/>-->
<!--        <path d="M 30 73 L 100 18 V 10 Z" fill="#308355" stroke-width="0"/>-->
<!--    </svg>-->
    <svg id="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="60" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C40 0 60 0 100 100 Z"/>
    </svg>
</div>
</section>
<!--Home End-->

<!--mini services start-->
<section class="mini-services" id="mini-services">
    <div class="container">
        <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
            <div class="mini-service-card">
                <div class="service-icon"><i class="las la-paper-plane"></i></div>
                <h4 class="mini-service-heading">FREE SHIPPING</h4>
                <span class="small-des">ON $300 ABOVE ORDER</span>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
            <div class="mini-service-card">
                <div class="service-icon"><i class="las la-headset"></i></div>
                <h4 class="mini-service-heading">SUPPORT</h4>
                <span class="small-des">ON $300 ABOVE ORDER</span>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
            <div class="mini-service-card">
                <div class="service-icon"><i class="las la-globe-europe"></i></div>
                <h4 class="mini-service-heading">FREE REFUND</h4>
                <span class="small-des">ON $300 ABOVE ORDER</span>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
            <div class="mini-service-card">
                <div class="service-icon"><i class="las la-phone"></i></div>
                <h4 class="mini-service-heading">CONTACT US</h4>
                <span class="small-des">ON $300 ABOVE ORDER</span>
            </div>
        </div>
    </div>
    </div>
</section>
<!--mini services end-->

<!--featured item sec start-->
<section class="featured-items padding-top padding-bottom" id="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading-details mb-0">
                    <h4 class="heading">Our Products</h4>
                </div>
            </div>
            <div class="col-12 col-md-8 offset-md-2 text-center mb-4">
                <p class="text">Lorem ipsum is simply dummy text of the printing and type setting has been the industry.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp">
                    <div class="featured-item-card">
                        <div class="item-img">
                            <img src="/img/item8.jpg">
                            <div class="item-overlay">
                                <div class="item-btns">
                                    <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                    <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                    <a href="food-shop/product-detail.html" class="btn btn-view"><i class="las la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail">
                            <h4 class="item-name">Oranges</h4>
                            <ul class="reviews">
                                <li><i class="las la-star"></i></li>
                                <li><i class="las la-star"></i></li>
                                <li><i class="las la-star"></i></li>
                                <li><i class="las la-star"></i></li>
                                <li><i class="las la-star"></i></li>
                            </ul>
                            <p class="item-price">$20</p>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="/img/item9.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Grapes</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$30</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="/img/item10.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Bananas</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$40</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="/img/item11.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Kiwi</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$10</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="/img/item7.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Strawberries</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$20</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="/img/item5.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Cherries</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$30</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-5">
                <a href="food-shop/product-listing.html" class="btn web-btn rounded-pill">Load More <i class="las la-arrow-right"></i> </a>
            </div>
        </div>
    </div>
</section>
<!--featured item sec end-->

<!--about us section start-->
<section class="about-sec padding-top padding-bottom" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading-details">
                    <h4 class="heading">About Our Farm</h4>
                </div>
            </div>
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="row services-area">
            <div class="col-12 col-lg-4 services text-center wow fadeInUp" data-wow-delay=".2s">
                <div class="service-card">
                    <div class="image-holder"><i class="las la-campground"></i></div>
                    <h4 class="service-heading">Who We Are?</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn web-trans-btn rounded-pill">Read More</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 services text-center wow fadeInUp" data-wow-delay=".3s">
                <div class="service-card">
                    <div class="image-holder"><i class="las la-tractor"></i></div>
                    <h4 class="service-heading">How We Do?</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn web-trans-btn rounded-pill">Read More</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 services text-center wow fadeInUp" data-wow-delay=".4s">
                <div class="service-card">
                    <div class="image-holder"><i class="las la-seedling"></i></div>
                    <h4 class="service-heading">What We Grow?</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn web-trans-btn rounded-pill">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about us section end-->


