@page "/uploaddemo"
@rendermode InteractiveWebAssembly
@using System.Net.Http.Headers
@using FoodShop.Admin.WebApp.Client.Abstractions.Services
<h3>UploadDemo</h3>


<InputFile OnChange="@LoadFiles" />

@code {
    [Inject]
    public IHttpClientFactory ClientFactory { get; set; }

    [Inject]
    public IFileUploadService FileUploadService { get; set; }

    private bool isLoading;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        await FileUploadService.UploadFileAndProvideNameAsync(e.File);
    }
    private async Task LoadFiles2(InputFileChangeEventArgs e)
    {
        isLoading = true;

        long maxFileSize = 1024L * 1024L * 1024L * 2L;

        using (MemoryStream ms = new MemoryStream())
        {
            await e.File.OpenReadStream(maxFileSize).CopyToAsync(ms);

            var client = new HttpClient();
            client.DefaultRequestHeaders.Add("Authorization", "Bearer IKAO3OO.5WAAMP3-AW2462C-P7MR3MF-PJE6HP8");
            client.DefaultRequestHeaders.Add("Accept", "application/json");

            using (MultipartFormDataContent formData = new MultipartFormDataContent())
            using (ByteArrayContent fileContent = new ByteArrayContent(ms.ToArray()))
            {
                formData.Add(fileContent, "file", e.File.Name);

                string fileUrl = "https://file.io"; // Replace with your actual file upload endpoint

                HttpResponseMessage response = await client.PostAsync(fileUrl, formData);
            }
        }



    }

}
