@page "/productentries"
@using FoodShop.Admin.WebApp.Client.Pages.ProductEntries.ViewModels
@using MudBlazor
@inherits ProductEntriesBase
@rendermode InteractiveWebAssembly

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<h3>ProductEntries</h3>

<MudButton Color="Color.Success" @onclick="DisplayCreateDialog">Create</MudButton>

@if (SelectedItems.Count() > 0)
{
    <MudButton @onclick="DeleteSelectedProducts" Color="Color.Error">Delete @SelectedItems.Count()</MudButton>
}

<MudDataGrid @ref="_dataGrid" MultiSelection="true" ServerData="LoadGridData" T="VM_ProductEntry" SelectedItemsChanged="@SelectedItemsChanged">
    <Columns>
        <SelectColumn T="VM_ProductEntry" />
        <PropertyColumn Property="x=>x.Id"></PropertyColumn>
        <PropertyColumn Property="x=>x.ProductName"></PropertyColumn>
        <PropertyColumn Property="x=>x.SKU"></PropertyColumn>
        <PropertyColumn Property="x=>x.Price"></PropertyColumn>
        <PropertyColumn Property="x=>x.Quantity"></PropertyColumn>
        <PropertyColumn Property="x=>x.ProductId"></PropertyColumn>

        <TemplateColumn Context="data" Title="Image">
            <CellTemplate>
                <MudImage Height="100" Width="100" Src="@($"http://localhost:9000/photos/{data.Item.Image}")"></MudImage>
            </CellTemplate>
        </TemplateColumn>
        
        <TemplateColumn Title="Action">
            <CellTemplate>
                <MudButton @onclick="@(()=>DisplayEditDialog(context.Item.Id))" Color="Color.Warning">Edit</MudButton>
            </CellTemplate>
        </TemplateColumn>
    
    </Columns>
    <PagerContent>

        <MudDataGridPager T="VM_ProductEntry" PageSizeOptions="[3,6,12]" />

    </PagerContent>
</MudDataGrid>
