@page "/products"
@using FoodShop.Application.Products
@inherits ProductsBase

<h3>Products</h3>

<MudDataGrid Items="@Products">
    <Columns>
        <PropertyColumn Property="x=>x.Id"></PropertyColumn>
        <PropertyColumn Property="x=>x.Name"></PropertyColumn>
        <PropertyColumn Property="x=>x.Description"></PropertyColumn>
        <PropertyColumn Property="x=>x.CategoryId"></PropertyColumn>
        <TemplateColumn>
            <a class="btn btn-primary">Edit</a>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="ProductDto" />
    </PagerContent>
</MudDataGrid>