@using FoodShop.Web.Abstractions.Services
@using FoodShop.Web.ViewModels.Categories
<!-- START HEADER NAVIGATION -->
<div class="header-area">
    <div class="container">
        <div class="row upper-nav">
            <div class="col-3 nav-icon pt-3">
                <ul class="social-icons-simple text-left">
                    <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                    <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-6 text-center nav-logo pt-3">
                <a href="index-shop.html" class="navbar-brand"><img src="img/logo.jpg" alt="img"></a>
            </div>

            <div class="col-3 nav-utility text-right d-flex justify-content-end align-items-center pt-3">
                <div class="manage-icons d-inline-block">
                    <ul>
                        <li class="d-inline-block">
                            <a id="add_search_box">
                                <i class="fas fa-search search-sidebar-hover"></i>
                            </a>
                        </li>
                        <li class="d-inline-block mini-menu-card" id="mini-menu-card">
                            <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages4">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                            <div id="sideNavPages4" class="collapse sideNavPages shopping-cart">
                                <i class="fas fa-caret-up mini-cart-caret"></i>
                                <div class="mini-cart-header text-left">
                                    <h4>Shopping Cart</h4>
                                </div>
                                <div class="mini-cart-body">
                                    <div class="inner-card">
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <a href="#"><img src="img/product-listing/p42.1.jpg" class="align-self-center" alt="cartitem"></a>
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name"><a href="#">light wear</a></h5>
                                                <p class="category">light wear Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <a href="#"><img src="img/product-listing/p44.jpg" class="align-self-center" alt="cartitem"></a>
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name"><a href="#">Casual wear</a></h5>
                                                <p class="category">Casual wear Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <a href="#"><img src="img/product-listing/p29.jpg" class="align-self-center" alt="cartitem"></a>
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name"><a href="#">long Frock</a></h5>
                                                <p class="category">long Frock Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <a href="#"><img src="img/product-listing/p43.jpg" class="align-self-center" alt="cartitem"></a>
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name"><a href="#">Long shirt</a></h5>
                                                <p class="category">Log shirt Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mini-cart-footer">
                                    <div class="subtotal text-center">
                                        <span class="total-title">Total: </span>
                                        <span class="total-price">
                                            <span class="Price-amount">
                                                $135
                                            </span>
                                        </span>
                                    </div>
                                    <div class="actions text-center">
                                        <a href="shop-cart.html" class="btn pink-gradient-btn-into-black">View Bag</a>
                                        <a href="shop-cart.html" class="btn pink-gradient-btn-into-transparent">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="d-inline-block simple-dropdown" id="mini-menu">
                            <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages5">
                                <i class="fas fa-th"></i>
                            </a>

                            <div id="sideNavPages5" class="collapse sideNavPages user-utiliity">
                                <i class="fas fa-caret-up user-utiliity-caret"></i>
                                <h6 class="user-utiliity-title">MY ACCOUNT </h6>
                                <hr>
                                <ul class="text-left">
                                    <li>
                                        <a href="register.html">Register</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                </ul>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 nav-mega">
                <header class="site-header" id="header">
                    <nav class="navbar navbar-expand-md  static-nav">
                        <div class="container position-relative megamenu-custom">
                            <a class="navbar-brand center-brand" href="index.html">
                                <img src="img/logo.jpg" alt="logo" class="logo-scrolled">
                            </a>
                            <div class="collapse navbar-collapse">
                                <ul class="navbar-nav ml-auto mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index-shop.html">HOME</a>
                                    </li>
                                    @if (DiscGroups != null)
                                    @foreach (var disc in DiscGroups)
                                    {
                                    <li class="nav-item dropdown static">

                                        @* start disc *@
                                        <a class="nav-link dropdown-toggle active" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @disc.Name </a>
                                        
                                        <ul class="dropdown-menu megamenu flexable-megamenu">
                                            <li>
                                                <div class="container">

                                        @* start catgroups*@
                                          
                                                        <div class="row">
                                                            @foreach (var group in disc.Groups)
                                                            {

                                                        <div class="col-lg-3 col-md-6 col-sm-12 mengmenu_border">
                                                            <h5 class="dropdown-title"> @group.CategoryGroupName </h5>
                                                            
                                                            <ul>
                                                                @foreach(var sub in group.SubCategories)
                                                                {
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">@sub.Name</a></li>
                                                                }
                                                            </ul>

                                                            
                                                        </div>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                        }


                                    @* <li class="nav-item dropdown static">
                                        <a class="nav-link dropdown-toggle active" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> MEN </a>
                                        <ul class="dropdown-menu megamenu flexable-megamenu">
                                            <li>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 col-sm-12 mengmenu_border">
                                                            <h5 class="dropdown-title"> Most Wanted </h5>
                                                            <ul>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">WomensWear</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Classic Dress</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Nightwear</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Active wear</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Footwear / Shoes</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Coats / Outerwear</a></li>
                                                            </ul>
                                                            <h5 class="dropdown-title"> Babies </h5>
                                                            <ul>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Baby Clothes</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Baby Footwear</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Sleep Suits</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Socks And Tights</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 mengmenu_border">
                                                            <h5 class="dropdown-title"> All Accessories </h5>
                                                            <ul>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Hand Bags</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Belts</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Jewellery</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Scarves</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Sun Glasses</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Others</a></li>
                                                            </ul>

                                                            <h5 class="dropdown-title"> Shop Collections </h5>
                                                            <ul>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Holiday Shop</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Gifts</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Workwear Range</a></li>
                                                                <li><i class="lni-angle-double-right right-arrow"></i><a class="dropdown-item" href="product-listing.html">Essential</a></li>
                                                            </ul>

                                                        </div>

                                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                                            <h5 class="dropdown-title text-left">Featured Items </h5>
                                                            <div class="carousel-menu mt-4">
                                                                <div class="featured-megamenu-carousel owl-carousel owl-theme">
                                                                    <div class="item ">
                                                                        <img src="img/shop1.jpg" alt="shop-image">
                                                                    </div>
                                                                    <div class="item">
                                                                        <img src="img/shop2.jpg" alt="shop-image">
                                                                    </div>
                                                                </div>
                                                                <i class="lni-chevron-left ini-customPrevBtn"></i>
                                                                <i class="lni-chevron-right ini-customNextBtn"></i>
                                                            </div>
                                                            <p class="mt-4 megamenu-slider-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                                                            <a href="product-listing.html" class="btn trans-pink-color-gradient-btn slider-btn text-left">Shop Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
 *@
                                    <!--                                    <li class="nav-item">-->
                                    <!--                                        <a class="nav-link" href="about.html">SHOES</a>-->
                                    <!--                                    </li>-->
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">CONTACT</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!--side menu open button-->
                        <a href="javascript:void(0)" class="d-inline-block sidemenu_btn d-lg-none d-md-block" id="sidemenu_toggle">
                            <span></span> <span></span> <span></span>
                        </a>
                    </nav>


                    <!-- side menu -->
                    <div class="side-menu opacity-0 gradient-bg hidden">
                        <div class="inner-wrapper">
                            <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
                            <nav class="side-nav w-100">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link" href="product-listing.html"> Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages1">
                                            Women <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <div id="sideNavPages1" class="collapse sideNavPages">

                                            <ul class="navbar-nav mt-2">
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">WomensWear</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Classic Dress</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Nightwear</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Active wear</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Footwear / Shoes</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Coats / Outerwear</a></li>
                                            </ul>
                                            <h5 class="sub-title">1. All Accessories</h5>
                                            <ul class="navbar-nav mt-2">
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Hand Bags</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Belts</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Jewellery</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Scarves</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Sun Glasses</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html"> Others</a></li>
                                            </ul>

                                            <h5 class="sub-title">2. Babies</h5>
                                            <ul class="navbar-nav mt-2">
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Baby Clothes</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Baby Footwear</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Sleep Suits</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Socks And Tights</a></li>
                                            </ul>

                                            <h5 class="sub-title">3. Shop Collection</h5>
                                            <ul class="navbar-nav mt-2">
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Holiday Shop</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Gifts</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Workwear Range</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Essential</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages3">
                                            Clothes <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <div id="sideNavPages3" class="collapse sideNavPages">
                                            <ul class="navbar-nav mt-2">
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Dresses</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html"> Hoodies & Sweatshirts</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Top</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Shoes & Trainers</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Jeans</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Shorts</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Loungewear</a></li>
                                            </ul>
                                            <h5 class="sub-title">1. Others</h5>
                                            <ul class="navbar-nav mt-2">
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">All Clothing</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Shoes</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">ActiveWear</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Treading Now</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Accessories</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Face + Body</a></li>
                                                <li class="nav-item"><a class="nav-link" href="product-listing.html">Back in stock</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="product-listing.html">Shoes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages2">
                                            Pages <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <div id="sideNavPages2" class="collapse sideNavPages">
                                            <ul class="navbar-nav">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="product-listing.html">Listing One</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="product-detail.html">Detail Page</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="standalone.html">StandAlone Page</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="side-footer w-100">
                                <ul class="social-icons-simple white top40">
                                    <li><a class="facebook-bg-hvr" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                    <li><a class="twitter-bg-hvr" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                    <li><a class="instagram-bg-hvr" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                </ul>
                                <p class="whitecolor">&copy; <span id="year"></span> Product Shop. Made With Love by ThemesIndustry</p>
                            </div>
                        </div>
                    </div>
                    <div id="close_side_menu" class="tooltip"></div>
                    <!-- End side menu -->
                </header>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER NAVIGATION -->


@code {


    [Inject]
    IDiscriminatorGroupsService discriminatorGroupService { get; set; }

    public IEnumerable<BaseDiscriminatorGroupVM> DiscGroups { get; set; }


    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        DiscGroups = await discriminatorGroupService.GetDiscriminatorGroups();
    }

}
