@using MudBlazor
@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Sections




<!DOCTYPE html>
<html lang="en">
<head>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />


    <base href="/" />

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="Themes Industry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose studio and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="Creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, studio, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, studio, masonry, grid, faq">
    <!-- Page Title -->
    <title>Women Store | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico">
    <!-- Bundle -->

    <link rel="stylesheet" href="vendor/css/bundle.min.css">
    <!-- Plugin Css -->

    <link rel="stylesheet" href="bootstrap//bootstrap.min.css">
    <link rel="stylesheet" href="vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/css/swiper.min.css">
    <link rel="stylesheet" href="vendor/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="vendor/css/wow.css">
    <link rel="stylesheet" href="vendor/css/LineIcons.min.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/range-slider.css">
    <!-- Slider Setting Css  -->
    <link rel="stylesheet" href="css/settings.css">
    <!-- Mega Menu  -->
    <link rel="stylesheet" href="css/megamenu.css">
    <!-- StyleSheet  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Custom Css  -->
    <link rel="stylesheet" href="css/custom.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="app.css" rel="stylesheet" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />



    <link rel="icon" type="image/png" href="favicon.png" />

    <!--Mud-->

    <SectionOutlet SectionName="css" />
    <SectionOutlet SectionName="css2" />


    <HeadOutlet />
</head>

<body>
    <!--START LOADER-->
    @*  <div class="loader1">
    <div class="loader-inner">
    <div id="preloader">
    <div id="loader"></div>
    </div>
    </div>
    </div> *@
    <!--END LOADER-->
    <HeaderComponent></HeaderComponent>

@Body



<!--footer1 sec start-->
<div class="footer">
    <div class="container">
        <div class="row footer-container">
            <div class="col-sm-12 col-lg-4 f-sec1  text-center text-lg-left">
                <h4 class="high-lighted-heading">About Us</h4>
                <p>We take our mission of increasing our global access to quality education seriously. </p>
                <a href="#">Read more</a>
                <h4>Social Network</h4>
                <div class="s-icons">
                    <ul class="social-icons-simple">
                        <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                        <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 f-sec2 ">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4 class="text-center text-md-left">Information</h4>
                        <ul class="text-center text-md-left">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="#">Products</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="text-center text-md-left">Account Info</h4>
                        <ul class="text-center text-md-left">
                            <li><a href="#">Login & Register</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Responsive Website</a></li>
                            <li><a href="#">Subscription</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 f-sec3  text-center text-lg-left">
                <h4>Our Portfolio</h4>
                <div class="foot-tag-list">
                    <span>T-shirt</span>
                    <span>Casual</span>
                    <span>Shorts</span>
                    <span>Formal</span>
                    <span>Formal-Shirt</span>
                    <span>Shopping</span>
                    <span>Shirts</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 footer_notes">
                <p class="whitecolor text-center w-100 wow fadeInDown">&copy; 2020 MegaOne. Made With Love by <a class="web-link" href="http://www.themesindustry.com/" target="_blank">Themesindustry</a></p>
            </div>
        </div>
    </div>
</div>
<!--foo0ter1 sec end-->
    <!-- JavaScript -->
    <script src="vendor/js/bundle.min.js"></script>
    <!-- Plugin Js -->
    <script src="vendor/js/jquery.fancybox.min.js"></script>
    <script src="vendor/js/owl.carousel.min.js"></script>
    <script src="vendor/js/swiper.min.js"></script>
    <script src="vendor/js/jquery.cubeportfolio.min.js"></script>
    <script src="vendor/js/wow.min.js"></script>
    <script src="vendor/js/bootstrap-input-spinner.js"></script>
    <script src="vendor/js/parallaxie.min.js"></script>
    <script src="vendor/js/stickyfill.min.js"></script>
    <script src="js/nouislider.min.js"></script>

    <script src="vendor/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendor/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION EXTENSIONS -->
    <script src="vendor/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="vendor/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Custom Script -->
    <script src="js/script.js"></script>

    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!--Mud-->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>

    <script src="_framework/blazor.web.js"></script>

    <SectionOutlet SectionName="js" />

</body>

</html>
